.header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}
.header img {
    height: 50px;
}
.header nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.header .profile img {
    height: 40px;
    border-radius: 50%;
}
.container {
    padding: 20px;
}
.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.form-container {
    background-color: #d3d3d3;
    padding: 20px;
    border: 1px solid #000000;
}
.form-container .buttons {
    display: flex;
    margin-bottom: 20px;
    gap: 32px;
    justify-content: center;
}
.form-container .buttons button {
    background-color: #424242;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.form-container .buttons button:nth-child(2), 
.form-container .buttons button:nth-child(3) {
    background-color: #0067B8;
    color: white; /* Para que el texto sea legible */
    border: none; /* Ajusta según tu diseño */
    padding: 10px 20px; /* Opcional, para un mejor tamaño */
    border-radius: 5px; /* Opcional, bordes redondeados */
    cursor: pointer;
}
.form-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.form-container form label {
    flex: 1 1 45%;
    font-size: 16px;
}
.form-container form input, .form-container form select {
    width: 550px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.form-container form .submit-button {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
}
.form-container form .submit-button button {
    background-color: #0067B8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
input[type="text"] {
    color: #999; /* Color del texto similar al placeholder */
    font-style: italic;
    text-align: right; /* Opcional, para darle estilo */
}

input[type="text"]:focus {
    color: black; /* Cambia a negro cuando escribes */
    font-style: normal;
}







